*.iml
.gradle
/local.properties
/app/release
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/kevinj1008/fitnessch/Demo.java